include mixins/links

- if (!isAjax)
  doctype html
  html
    head
      meta(charset="utf-8")
      meta(name="generator", content="jingo #{jingoVersion}")
      meta(name="viewport", content="width=device-width, initial-scale=1")
      title= title

      meta(name="twitter:title", content="#{title}")
      meta(name="twitter:card", content="summary_large_image")
      meta(name="twitter:site", content="@inventaire_io")
      //- twitter doesn't guess the description from the content so we need a real description
      meta(name="twitter:description", content="#{coalesce(description, 'Welcome to inventaire.io wiki! This should be the space where the community shares knowledge about the project : how the project is run? How to use the tool? How to contribute? etc.')}")
      meta(name="twitter:image", content="https://wiki.inventaire.io/img/screenshot.png")

      meta(property="og:site_name", content="inventaire wiki")
      meta(property="og:url", content="#{coalesce(url, 'https://wiki.inventaire.io/')}")
      meta(property="og:title", content="#{title}")
      //- facebook guesses the description from the content so it's ok to pass it an empty description
      meta(name="description", property="og:description", content="#{coalesce(description, '')}")
      meta(property="og:image", content="https://wiki.inventaire.io/img/screenshot.png")

      +asset("/css/bundle.min.css")
      link(rel="icon", type="image/png", href="/img/inv-dark-grey-32px.png")
      block styles
      if hasCustomStyle()
        style.
          !{_style}
    body
      -var term_ph = (typeof term == "undefined" ? "" : term)
      .navbar.navbar-inverse
        .container-fluid
          .navbar-header
            +anchor("/", appTitle).navbar-brand
            if canSearch()
              form(action="#{proxyPath}/search").navbar-form.search.navbar-left
                .input-group.input-group-sm.search
                  input.form-control(type="text", value="#{term_ph}", data-i-search-input="true",name="term",placeholder="Search the wiki")
                  span.input-group-btn
                    button.btn.btn-primary(type="submit") Search
            .navbar-right
              .tools
                block tools
              if isAnonymous()
                p.user You're not&nbsp;
                  +anchor('/login?destination', 'logged in')#login(title='Access login page')
              else
                p.user
                  if user.picture
                    img(src=invImgSrc("#{user.picture}", 24))
                  span.username #{user.displayName}
                  +anchor('/logout')(title='Become anonymous')
                    i.icon.ion-power

      .container

        .row
          if hasSidebar()
            .col-md-2.with-sidebar
              .content !{_sidebar}
          else
            .col-md-2

          #main.hide-tools.col-md-8
            block content

        if hasFooter()
          .row
            .col-md-2
            .col-md-8.with-footer
              .content !{_footer}

      footer
        +anchor(href="https://github.com/inventaire/jingo") source code
        +anchor(href="https://github.com/inventaire/inventaire-wiki") raw files

      +asset("/js/bundle.min.js")
      script.
        Jingo.init("#{proxyPath}");
      block scripts
      if hasCustomScript()
        script.
          !{_script}
- else
  block content
